<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="leadstyle.css">
  </head>
  <body>
    <div class="menu-container">
      <div class="menu">
        <div class="links">
        <a class='navigation'href="/profile">Profile</a>
        <a class='navigation'href="/dashboard">Dashboard</a>
        <a class="top"href="/leaderboard">Leaderboard</a>
        </div>
        <p class="top navigation" href="#">Climate Connections</p>
        <a class="navigation"href="#">Sign In</a>
      </div>
      </div>
    <div class="flex">
      <div class="title user">
        User:
      </div>
      <div class="title score">
        Score:
      </div>
    </div>
    <div class="flex">
      <div class="user">
        <%= topTen[0].name %>
      </div>
      <div class="points">
        <%= topTen[0].points %>
      </div>
    </div>
    <div class="flex">
      <div class="user">
        <%= topTen[1].name %>
      </div>
      <div class="points">
        <%= topTen[1].points %>
      </div>
    </div>
    <div class="flex">
      <div class="user">
        <%= topTen[2].name %>
      </div>
      <div class="points">
        <%= topTen[2].points %>
      </div>
    </div>
    <div class="flex">
      <div class="user">
        <%= topTen[3].name %>
      </div>
      <div class="points">
        <%= topTen[3].points %>
      </div>
    </div>
    <div class="flex">
      <div class="user">
        <%= topTen[4].name %>
      </div>
      <div class="points">
        <%= topTen[4].points %>
      </div>
    </div>
    <div class="flex">
      <div class="user">
        <%= topTen[5].name %>
      </div>
      <div class="points">
        <%= topTen[5].points %>
      </div>
    </div>
    <div class="flex">
      <div class="user">
        <%= topTen[6].name %>
      </div>
      <div class="points">
        <%= topTen[6].points %>
      </div>
    </div>
    <div class="flex">
      <div class="user">
        <%= topTen[7].name %>
      </div>
      <div class="points">
        <%= topTen[7].points %>
      </div>
    </div>
    <div class="flex">
      <div class="user">
        <%= topTen[8].name %>
      </div>
      <div class="points">
        <%= topTen[8].points %>
      </div>
    </div>
    <div class="flex">
      <div class="user">
        <%= topTen[9].name %>
      </div>
      <div class="points">
        <%= topTen[9].points %>
      </div>
    </div>
  </body>
</html>
