<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Climate Connections</title>
    <link href=/style.css rel=stylesheet type=text/css>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="menu-container">
      <div class="menu">
        <div class="links">
        <a class='top'href="/profile">Profile</a>
        <a class='navigation'href="/dashboard">Dashboard</a>
        <a class="navigation"href="/leaderboard">Leaderboard</a>
      </div>
      <p class="top navigation" href="#">Climate Connections</p>
      <a class="login navigation" href="#" onclick="signOut();">Sign Out</a>
    </div>
    </div>

    <h1 class=level>Level <div class="bigNumber"><%= user.level %></div></h1>
    <div class="space"></div>
    <div class=flex>
      <img class='center' src="<%= user.profileImgUrl %>" alt="Your account information">
      <div class="pie"></div>
    </div>
    <h1 class="level"><%= user.name %></h1>
    <div class=points> <div class="bigNumber"><%= user.points %></div>Points</div>
   <script defer>
      let exp = 100 - (<%= user.levelpoints %> / (50*2^<%= user.level %>))*100;
      var pie = document.getElementsByClassName("pie")[0];
      pie.style.background = "linear-gradient(to top, gray " + exp + "%, #1e8feb 0)";

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>
  </body>
</html>
