<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Climate Connections</title>
    <link href=/style.css rel=stylesheet type=text/css>
  </head>
  <body>
    <div class="menu-container">
      <div class="menu">
        <div class="links">
        <a class='navigation'href="#">Dashboard</a>
        <a class='navigation'href="#">Profile</a>
      </div>
      <a class="login navigation"href="#">Sign In</a>
    </div>
    </div>

    <h1 class=level>Level <%= user.level %></h1>
    <div class="space"></div>
    <div class=flex>
      <img class='center' src="<%= user.profileImgUrl %>" alt="Your account information">
      <div class="pie"></div>
    </div>
    <div class=points> <div class="bigNumber">100</div>Points</div>
    <h1><%= user.name %></h1>
    <div class="stats">
        You have <div class=numbers><%= user.points %></div> points
    </div>
    <div class="stats">
        You used <div class=numbers><%= user.watts %></div> Watts today
    </div>
    <div class="stats">
        You moved up <div class=numbers><%= user.oldRank - user.rank %></div>spots to rank<div class=numbers><%= user.rank %></div>
    </div>
  </body>
</html>
